<div class="container-fluid">
        <div class=row>
          <div class="col col-md-12">
            <h1>Group 6-01</h1>
            <br/>
            <h2>Use this area to display information. </h2>
            <br/>
            <hr>
            <h3>During development, test your api here.</h3>
            <br/>
            <br/>
            <h4>GET a view</h4>
            <ol>
              <li>
                <a href="customer">customer</a>
              </li>
              <li>
                <a href="customer/create">customer/create</a>
              </li>
      
              <li>
                <a href="customer/edit/1">customer/edit/1</a>
              </li>
              <li>
                <a href="customer/edit/2">customer/edit/2</a>
              </li>
              <li>
                <a href="customer/edit/3">customer/edit/3</a>
              </li>
      
              <li>
                <a href="customer/delete/1">customer/delete/1</a>
              </li>
              <li>
                <a href="customer/delete/2">customer/delete/2</a>
              </li>
              <li>
                <a href="customer/delete/3">customer/delete/3</a>
              </li>
      
              <li>
                <a href="customer/details/1">customer/details/1</a>
              </li>
              <li>
                <a href="customer/details/2">customer/details/2</a>
              </li>
              <li>
                <a href="customer/details/3">customer/details/3</a>
              </li>
              <br/>
              <li>
                <a href="order">order</a>
              </li>
              <li>
                <a href="order/create">order/create</a>
              </li>
      
              <li>
                <a href="order/edit/1">order/edit/1</a>
              </li>
              <li>
                <a href="order/edit/2">order/edit/2</a>
              </li>
              <li>
                <a href="order/edit/3">order/edit/3</a>
              </li>
      
              <li>
                <a href="order/delete/1">order/delete/1</a>
              </li>
              <li>
                <a href="order/delete/2">order/delete/2</a>
              </li>
              <li>
                <a href="order/delete/3">order/delete/3</a>
              </li>
      
              <li>
                <a href="order/details/1">order/details/1</a>
              </li>
              <li>
                <a href="order/details/2">order/details/2</a>
              </li>
              <li>
                <a href="order/details/3">order/details/3</a>
              </li>
              <br/>
              <li>
                <a href="OrderLineItems">OrderLineItems</a>
              </li>
              <li>
                <a href="OrderLineItems/create">OrderLineItems/create</a>
              </li>
      
              <li>
                <a href="OrderLineItems/edit/1">OrderLineItems/edit/1</a>
              </li>
              <li>
                <a href="OrderLineItems/edit/2">OrderLineItems/edit/2</a>
              </li>
              <li>
                <a href="OrderLineItems/edit/3">OrderLineItems/edit/3</a>
              </li>
      
              <li>
                <a href="OrderLineItems/delete/1">OrderLineItems/delete/1</a>
              </li>
              <li>
                <a href="OrderLineItems/delete/2">OrderLineItems/delete/2</a>
              </li>
              <li>
                <a href="OrderLineItems/delete/3">OrderLineItems/delete/3</a>
              </li>
      
              <li>
                <a href="OrderLineItems/details/1">OrderLineItems/details/1</a>
              </li>
              <li>
                <a href="OrderLineItems/details/2">OrderLineItems/details/2</a>
              </li>
              <li>
                <a href="OrderLineItems/details/3">OrderLineItems/details/3</a>
              </li>
              <br/>
              <li>
                <a href="Products">Products</a>
              </li>
              <li>
                <a href="Products/create">Products/create</a>
              </li>
      
              <li>
                <a href="Products/edit/1">Products/edit/1</a>
              </li>
              <li>
                <a href="Products/edit/2">Products/edit/2</a>
              </li>
              <li>
                <a href="Products/edit/3">Products/edit/3</a>
              </li>
      
              <li>
                <a href="Products/delete/1">Products/delete/1</a>
              </li>
              <li>
                <a href="Products/delete/2">Products/delete/2</a>
              </li>
              <li>
                <a href="Products/delete/3">Products/delete/3</a>
              </li>
      
              <li>
                <a href="Products/details/1">Products/details/1</a>
              </li>
              <li>
                <a href="Products/details/2">Products/details/2</a>
              </li>
              <li>
                <a href="Products/details/3">Products/details/3</a>
              </li>
      
            </ol>
            <br/>
            <h4>GET JSON</h4>
            <ol>
      
              <li>
                <a href="customer/findall">customer/findall</a>
              </li>
              <li>
                <a href="customer/findone/1">customer/findone/1</a>
              </li>
              <li>
                <a href="customer/findone/2">customer/findone/2</a>
              </li>
              <li>
                <a href="customer/findone/3">customer/findone/3</a>
              </li>
              <br/>
              <li>
                <a href="order/findall">order/findall</a>
              </li>
              <li>
                <a href="order/findone/1">order/findone/1</a>
              </li>
              <li>
                <a href="order/findone/2">order/findone/2</a>
              </li>
              <li>
                <a href="order/findone/3">order/findone/3</a>
              </li>
              <br/>
              <li>
                <a href="OrderLineItems/findall">OrderLineItems/findall</a>
              </li>
              <li>
                <a href="OrderLineItems/findone/1">OrderLineItems/findone/1</a>
              </li>
              <li>
                <a href="OrderLineItems/findone/2">OrderLineItems/findone/2</a>
              </li>
              <li>
                <a href="OrderLineItems/findone/3">OrderLineItems/findone/3</a>
              </li>
              <br/>
              <li>
                <a href="Products/findall">Products/findall</a>
              </li>
              <li>
                <a href="Products/findone/1">Products/findone/1</a>
              </li>
              <li>
                <a href="Products/findone/2">Products/findone/2</a>
              </li>
              <li>
                <a href="Products/findone/3">Products/findone/3</a>
              </li>
      
            </ol>
      
      
          </div>
        </div>
      </div>